.container .row img{
    height: 100%;
    width: 100%;
}
.image{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.content{
    height: 80vh;
    background-color:rgb(252, 234, 253);
}
*{
    margin: 0;
    padding: 0;
}

#title{
   text-align: center;
   color:rgba(185, 111, 228, 0.822);
   font-weight: bold;
}
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}
.notify-section{
   width: 35%;
    margin: 0 auto;
}





